@*@using Coding_Events.Models*@
@model List<Event>

@{
}


<h1>Coding Events</h1>


@if (Model.Count == 0)
{
    <p>No events yet!</p>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Description</th>
        <th>Event Location</th>
        <th>Number of Attendees</th>
        <th>Contact Email</th>
    </tr>
    @foreach (var occurance in Model)
    {
        <tr>
            <td>@occurance.Id</td>
            <td>@occurance.Name</td>
            <td>@occurance.Description</td>
            <td>@occurance.EventLocation</td>
            <td>@occurance.Attendees</td>
            <td>@occurance.ContactEmail</td>
            <td><a asp-controller="Event" asp-action="Edit" asp-route-id="@occurance.Id">Edit</a></td>
        </tr>
    }
</table>


@*<input type="button"  value="Add Event" action=">*@
<form action="/Event/Add" class="form-group">
    <h4>
        <button class="btn btn-primary">Add Event</button>
    </h4>
</form>
<form action="/Event/Delete" class="form-group">
    <h6>
        <button class="btn btn-outline-danger">Delete Event</button>
    </h6>
</form>

