@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Coding Events</h1>


@if (ViewBag.Events.Count == 0)
{
    <p>No events yet!</p>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Description</th>
    </tr>
    @foreach (var occurance in @ViewBag.Events)
    {
        <tr>
            <td>@occurance.Id</td>
            <td>@occurance.Name</td>
            <td>@occurance.Description</td>
            <td><a asp-controller="Event" asp-action="Edit" asp-route-id="@occurance.Id">Edit</a></td>
        </tr>
    }
</table>


@*<input type="button"  value="Add Event" action=">*@
<form action="/Event/Add" class="form-group">
    <h4>
        <button class="btn-primary">Add Event</button>
    </h4>
</form>
<form action="/Event/Delete" class="form-group">
    <h6>
        <button class="btn-outline-danger">Delete Event</button>
    </h6>
</form>

